<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Брони</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>

<body>
<header>
  <h1>
    Забронировать комнату
  </h1>
</header>
<main id="main">
  <section *ngFor="let room of this.rooms">
    <img src="">
    <span class="main-text">Описание самой лучшей комнаты на свете</span>
    <div class="prices-and-all">
      <div class="prices-and-all-inner">
        <span class="price">Цена: <span>{{room.price}}</span></span>
        <span class="price">Количество человек: <span>{{room.countPeople}}</span></span>
        <span id="booking" class="booking" data-hystmodal="#myModal" (click)="showPopUp(); saveSelectedRoom(room)">
          Забронировать
        </span>
      </div>
    </div>
  </section>

</main>

<div class="overlay" *ngIf="show" (click)="closePopUpOverlay($event)">
  <div class="content">
    <div class="modal-wrapper" style="padding: 15px; flex-direction: column; align-items: flex-start; display: flex; border-radius: 16px;">
      <div style="padding-bottom: 10px;">From date: <input type="text" id="datepicker1"></div>
      <div style="padding-bottom: 10px;">To date: <input type="text" id="datepicker2"></div>
      <div (click)="bookRoom()" onclick="submit()" style="border-radius: 16px; border: 1px solid black; padding: 10px; align-self: flex-end;">Отправить</div>
    </div>
  </div>
</div>

</body>

</html>
