<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your page</title>
</head>
<body>
<main>
  <div class="outer">
    <div class="inner">
      <div class="main-inner">
        <img src="../../assets/images/placeholderPerson.jpg" class="image">
        <div class="profile-info">
          <div class="profile-info-only">
            <div class="profile-info-stack-value">
              <span class="name-title profile-info-inner">ФИО</span>
              <span class="name-value">{{currentUser.name + " " + currentUser.surname}}</span>
            </div>
          </div>
        </div>

        <div class="main-content">
          <div class="content-wrapper">
            <div class="section-content">
              <a href="/admin-notifications">Уведомления</a>
            </div>
            <div class="section-content">
              <a href="#">Список текущих клиентов</a>
            </div>

            <div class="section-content">
              <a href="/table">Таблица составления уборки</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>
