<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Preview</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
<div class="crumbs-area" style="margin-bottom: 16px;">
  <div class="container">
    <div class="row">
      <div>
        <div class="crumbs-header">
          <p style="font-size: 26px;">Система бронирования отеля</p>
          <div class="btn-area">
            <a href="/login">Войти</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="map-container">
  <ya-map [center]='[55.751952, 37.600739]' [zoom]="12">
    <ya-placemark *ngFor="let item of points" [geometry]="item"
                  [properties]="placemarkProperties"
                  [options]="placemarkOptions"></ya-placemark>
  </ya-map>
</div>
<div class="sections" style="display: flex; flex-direction: column;">
    <div class="section" style="display: flex; align-self: center">
        <span>Регистрируйтесь</span>
        <div class="container">
<!--          <img src="../../assets/images/nicePage/реги.png" width="250px" height="250px" class="item">-->
        </div>
    </div>
    <div class="section reversed" style="display: flex;">
        <span>Авторизируйтесь</span>
<!--        <img src="../../assets/images/nicePage/вход.png" width="250px" height="250px" class="item">-->
    </div>
    <div class="section" style="display: flex;">
        <span>Оставляйте отзыв</span>
<!--        <img src="../../assets/images/nicePage/оценка.png" width="250px" height="250px" class="item">-->
    </div>
    <div class="section reversed" style="display: flex;">
        <span>Закажите услугу</span>
<!--        <img src="../../assets/images/nicePage/заявка.png" width="250px" height="250px" class="item">-->
    </div>
    <div class="section" style="display: flex;">
        <span>Просматривайте свой профиль</span>
<!--        <img src="../../assets/images/nicePage/профиль.png" width="250px" height="250px" class="item">-->
    </div>
    <div class="section reversed" style="display: flex;">
        <span>Просматривайте свои брони</span>
<!--        <img src="./hotel-preview.webp" width="250px" height="250px" class="item">-->
    </div>
    <div class="section" style="display: flex;">
        <span>Создавайте бронь</span>
<!--        <img src="../../assets/images/nicePage/booking.png" width="250px" height="250px" class="item">-->
    </div>
</div>


<div class="copyright" style="margin: 16px;
text-align: center;
color: black;
background-color: #f3f3f3;
padding: 8px;
border-radius: 16px;">
  <div style="display: flex; flex-direction: column;">
    All rights reserved
    <div>
      <span>Наша оценка: </span>
      <span class="rating">{{rate}}</span>
    </div>
  </div>
</div>

</body>
</html>
