@import url('https://fonts.googleapis.com/css?family=Literata&display=swap');

body {
    font-family: 'Literata';
}

.crumbs-area{
    background: url(./hotel-preview.webp) center center/cover no-repeat;
    height: 540px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
    -webkit-box-shadow: 4px 20px 13px -10px rgba(34, 60, 80, 0.29);
    -moz-box-shadow: 4px 20px 13px -10px rgba(34, 60, 80, 0.29);
    box-shadow: 4px 20px 13px -10px rgba(34, 60, 80, 0.29);
    justify-content: center;
  }
  .crumbs-area:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(177, 177, 177, 0.85);
  }
  .crumbs-header{}
  .crumbs-header p{
    font-size: 22px;
    color: #fff;
    letter-spacing: 0.01em;
    margin: 50px 0px;
    display: inline-block;
  }
  .crumbs-header .cd-headline{}
  .crumbs-header .cd-words-wrapper{
    font-size: 70px;
    color: #252424;
    font-weight: 900;
  }
  .btn-area{}
  .btn-area a{
    display: inline-block;
    color: #444;
    background: #fff;
    padding: 9px 22px;
    border-radius: 2px;
    letter-spacing: 0.05em;
    font-size: 12px;
    text-transform: uppercase;
  }
  .btn-area a:hover{
    background-color: #444;
    color: #fff;
  }
  
  .container {
    z-index: 1;
  }

  a {
    text-decoration: none;
  }

  .section {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    padding: 10px;
    font-size: 40px;
    background-color: #ff000066;
    border-radius: 16px 100px 16px 100px;
    margin: 4px;
    -webkit-box-shadow: 4px 4px 39px 11px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 39px 11px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 39px 11px rgba(34, 60, 80, 0.2);
  }

  .reversed {
    flex-direction: row-reverse;
    border-radius: 100px 16px 100px 16px;
  }

  .removed {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: white;
    left: 12px;
    bottom: -132px;
  }

  .item {
    border-radius: 16px;
    -webkit-box-shadow: 0px 0px 16px 14px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 16px 14px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 16px 14px rgba(34, 60, 80, 0.2);
  }