<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your page</title>
</head>
<body>
<main>
  <div class="outer">
    <div class="inner">
      <div class="main-inner">
        <img src="../../assets/images/placeholderPerson.jpg" class="image">
        <div class="profile-info">
          <div class="profile-info-only">
            <div class="profile-info-stack-value">
              <span class="name-title profile-info-inner">ФИО</span>
              <span class="name-value">{{currentUser.name + currentUser.surname}}</span>
            </div>
          </div>

          <div class="profile-info-stack-hotel">
            <div class="profile-info-stack-value">
              <span class="hotel-overview profile-info-inner">Мой номер комнаты</span>
              <span class="hotel-overview-value">{{currentUser.roomNumber}}</span>
            </div>

            <div class="profile-info-stack-value">
              <span class="hotel-count-or-vip-rooms profile-info-inner">Статус VIP</span>
              <span class="hotel-count-or-vip-rooms-value">Присутствует/Отсутствует</span>
            </div>
          </div>
        </div>

        <div class="main-content">
          <div class="content-wrapper">
            <div class="section-content">
              <a href="#">Текущие/архивные брони</a>
            </div>

            <div class="section-content">
              <a href="#">Поставить оценку</a>
            </div>

            <div class="section-content">
              <a href="/booking">Создать бронь</a>
            </div>

            <div class="section-content" (click)="showPopUp()">
              <span>Оставить заявку</span>
            </div>

            <div class="section-content">
              <a href="#">Последние оповещения</a>
            </div>

            <div class="section-content">
              <a href="#">Промо</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="overlay" *ngIf="show" (click)="closePopUpOverlay($event)">
  <div class="content">
    <div class="section">
      <textarea #notificationText style="min-width: 40vw; min-height: 20vh;"> </textarea>
      <div class="new-modal-button" (click)="sendNotification(); closePopUp()">
        Отправить
      </div>
    </div>
  </div>
</div>
</body>
</html>
